#order-form{
  margin: 5em;
}

.kitchenImg, .card-img-wide{
  width: 100%;
  height: 200px;
  flex: none;
}

.card-img-wide{
  object-fit: cover;
}

.addFood{
  background-color: lightgray;
}

.addFood:hover{
  background-color: greenyellow;
}
.fa-utensils:hover {
  color: green;
}

<<<<<<< HEAD
.totalPrice {
  display: inline-grid;
=======
h5.card-title {
  display: inline-block;
}

.card-img-overlay{
  text-align: center;
  line-height: 520px;
}

.empty-kitchen{
  vertical-align: middle;
  height: 500px;
  width: 500px;
  margin: auto;
>>>>>>> 83ec2bfd5812abd6c75cf269bf7100cd9792803d
}